html {
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 16px;

}

button {
    border: 2px solid #666;
    padding: 1em 2em;
    margin: 1.5em;
}

#quote-container {
    background-color: white;
}

.single-quote {
    padding: 15px;
    font-size: 20px;
}
.background {
    display: flex;
    background-color: grey;
    background-image: url(./resources/shea-rouda-4JshaHY8CA0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    align-items: center;
    justify-content: center;
}

#background-1 {
    background-image: url(./resources/hunter-brumels-i1aaOj95ZFk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#background-2 {
    background-image: url(./resources/jack-murrey-dBgbciMfzrE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#background-3 {
    background-image: url(./resources/landscape-photo-of-riverand-pine-trees-2217365.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#background-4 {
    background-image: url(./resources/vidar-nordli-mathisen-yJKb_4vjYwA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}